/* Global Layout Set-up */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  font-family: 'Slabo 27px', serif;
}

/* heading styles */
header {
  background-color: #86cece;
  height: 100px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 15px;
}

.newsletter_signup {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 0;
}

.tagline {
  font-size: 20px;
  color: gray;
  margin-left: 15px;
}

hr {
  border-top: 8px solid #333;
  border-bottom: 5px solid #333;
  padding: 5px 0px 5px 0px;
}

/* form styles */

.contact_info,
.newsletter_info
{
  font-size: 34px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 0;
}

/*fieldset 1*/

.user_info {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 24px;
  color: gray;
  padding-top: 30px;
  padding-bottom: 10px;
}

.form-row {
  padding-top: 20px;
}

.zippy {
  display: flex;
  flex-direction: column;
  }

.form-row #state {
  display: flex;
  width: 350px;
  font-style: italic;
  color: lightslategray;
  padding-right: 8px;
  text-align: right;
  }

input[placeholder="ex. Leslie Knope"],
input[placeholder="ex. l.knope@prc_pawnee.com"],
input[placeholder="ex. (555) 123-4567"],
input[placeholder="ex. 14 Swanson St."],
input[placeholder="ex. Pawnee"],
input[placeholder="ex. 12345"] {
  font-style: italic;
  text-align: right;
  padding-right: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="street-address"]
{
  background-color: #b8d9d0;
  border-radius: 3px;
  height: 50px;
  width: 350px;
}

input[type="postal-code"],
select {
  background-color: #b8d9d0;
  border-radius: 3px;
  height: 50px;
  width: 40%
  }

/*fieldset 2*/

.newsletter_selection {
  border: none;
  margin-left: 15px;
  margin-right: 15px;
}

input[type="checkbox"],
input[type="radio"]
 {

  margin-right: 15px;
  margin-bottom: 15px;
  }

.newsletter_selection label {
  padding-top: 0;
}

.newsletter-format {
font-size: 20px;
color: gray;
}

textarea {
  margin-top: 15px;
  background-color: lightgray;
  border-radius: 5px;
  width: 350px;
  height: 100px;
  resize: none;
}

input:focus,
textarea:focus,
select:focus{
    background-color: #FFFF66;
    border: 1px solid #F47E58;
    transition: background-color 500ms ease-in;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

/*submit button*/
.sign-up {
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
  color: white;
  text-align: center;
  background-color: #b8d9d0;
  border: 0;
  border-radius: 3px;
  padding: 10px;
  width: 350px;
  height: 50px;
  margin: 25px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.sign-up:hover {
  background-color: #66cdaa;
}

.sign-up:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*footer styles*/

footer {
  background-color: #86cece;
  text-align: center;
  padding: 30px;
  margin-top: 25px;
  font-size: .9em;
  color: black;
  font-style: italic;
}



/* Media Queries */

@media (min-width: 768px) {

.desktop-container {
  margin-left: 150px;
  margin-right: 150px;
}

.form-row  {
  padding: 10px 0;
  display: flex;
  }

.form-row label{
  padding-right: 10px;
  padding-top: 10px;
  flex-basis: 25%;
  }

.form-row input,
.form-row select {
  flex: 1;
  }
  
.zippy {
    display: flex;  
    flex-direction: row;
    padding-top: 10px;
  }

.zippy label {
  width: 25%;
  padding-right: 10px;
  padding-top: 10px;
  }


.othertopics {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
}
}